# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo


# Citlivé súbory
service-account*.json
service-account*.txt
sprava-bytov-*.json

